.header-box {
    display: grid;
    grid-template-columns: minmax(2rem, 12rem) repeat(2, minmax(min-content, 1fr)) minmax(2rem, 12rem);
    align-items: center;
    box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, .1);
}

.navigation-list {
    list-style: none;
    grid-column: 3 / span 1;
    justify-self: right;

    &__item {       
        display: inline-block;
        text-transform: uppercase;
        font-size: 1.4rem;
        cursor: pointer;

        &--active {
            background-color: #eee;
        }
    }

    &__link,
    &__link:visited,
    &__link:link {
        text-decoration: none;
        padding: 1rem 2rem;
        display: inline-block;
        transition: all .2s;
        
        &:hover {
            background-color: orangered;
        }
    } 

    &__dropdown{
        padding: 1rem 2rem;
        position: relative;
        cursor: pointer;
    }

    &__dropdown:hover &__dropdown-container  {
        width: 100%;
        opacity: 100%; 
    }

    &__dropdown-container {
        transition: all .2s;
        position: absolute;
        width: 0%;
        opacity: 0%;
        top: 100%;
        left: 0;
        background-color: #fff;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, .15);
    }

    &__dropdown-item {
        display: block;
        text-decoration: none;
        padding: 1rem 1rem;
        
        &:not(:last-child){
            border-bottom: 1px solid silver;
        }

        &:hover {
            background-color: #eeeeee;
        }
    }
}

.logo-box {
    grid-column: 2 / span 1;

    &__item:link,
    &__item:visited {
        text-transform: uppercase;
        font-size: 1.8rem;
        text-decoration: none;
        display: inline-block;
        padding: 2.5rem 2rem;
    }
}

