.shoping-list-container {
    padding: 5rem 0;
}

app-shopping-edit {
    display: block;
}

.ingredient-container {
    list-style: none;
    border-radius: 1rem;
    box-shadow: 0rem 1rem 2.5rem rgb(0 0 0 / 15%);
    overflow: hidden;

    &__item {
        padding: 1rem 1rem;
        background-color: #fff;

    }

    &__item:not(:last-child) {
        border-bottom: 1px solid #eeeee4;       
    }

    &__link:link,
    &__link:visited {
        color: black;
        text-transform: uppercase;
        text-decoration: none;
        display: block;
        font-size: 1.6rem;
    }
}

